.footer{
    @include bordeTop;
    @include bordeBottom;
    // margin-top: 50px;
    padding: 50px;
    color: $moradoFooter;

    a{
        text-decoration: none;
        color: $moradoPrincipal;
    }

    a:hover{
        color: $moradoHover;
    }


    .footerUno{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        
        .footerLinks{
            color: $moradoPrincipal;
        }
        .footerContacto{
            color: $moradoPrincipal; 
        }
        .redes{
            display: grid;
            justify-items: center;
            align-items: center;
            ul{
                list-style-type: none; 
                padding: 0; 
                margin: 0; 
                display: flex; 
                justify-content: center;

                li{
                    margin: 0 15px;
                    color: $moradoPrincipal;
                }
            }
        }
    }
    
}
.footerDos{
    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: $moradoPrincipal;
}