$fuenteLetra: Verdana, Geneva, Tahoma, sans-serif;
$moradoPrincipal: #AC9ACF;
$moradoPrincipal2: #ebe4fb;
$moradoH3: #4e465f;
$moradoDiv: #f3f0fb;
$moradoFondo: rgba(51, 41, 61, 0.6);
$moradoFooter: rgb(51, 41, 61);
$moradoTabla: rgb(85, 68, 102);
$moradoHover: rgba(51, 50, 86, 0.5);
$negroFondo: rgba(0, 0, 0, 0.285);